# Attempt Redshift Connection
Use ODBC driver to attempt redshift connection. Troubleshoot any security group issues on the Redshfit side.

In [7]:
import pyodbc

In [8]:
conn_string = """Driver={Amazon Redshift (x64)}; 
Server=redshift-cluster-1.ctxekmskukzq.us-east-1.redshift.amazonaws.com; 
Database=dev"""
conn = pyodbc.connect(conn_string)

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'Amazon Redshift (x64)' : file not found (0) (SQLDriverConnect)")

In [1]:
# attempt redshift connector library
import redshift_connector
import getpass

In [2]:
pw = getpass.getpass()

········

In [8]:
conn = redshift_connector.connect(
     host='redshift-cluster-1.ctxekmskukzq.us-east-1.redshift.amazonaws.com',
     database='dev',
     port=5439,
     user='awsuser',
     password=pw
  )

In [3]:
# # Create a Cursor object
# cursor = conn.cursor()

# # Query a table using the Cursor
# cursor.execute("select * from fruit;")
                
# #Retrieve the query result set
# result: tuple = cursor.fetchall()
# print(result)

([1, 'Banana', 'Yellow'], [2, 'Apple', 'Red'], [3, 'Lemon', 'Yellow'], [4, 'Grape', 'Purple'], [5, 'Pear', 'Green'], [6, 'Strawberry', 'Red'])

## Extract Staging Table as CSV

In [14]:
with conn.cursor() as cur:
    cur.execute("""SELECT * FROM stg_prep_by_year_state
        ORDER BY state, yr;""")
    df = cur.fetch_dataframe()

In [15]:
df

     state state_name         yr  prep_total  station_count
0       AK     ALASKA 1976-01-01        2410              3
1       AK     ALASKA 1977-01-01        3630              3
2       AK     ALASKA 1978-01-01        2570              3
3       AK     ALASKA 1997-01-01         560              3
4       AK     ALASKA 1998-01-01        3070              4
...    ...        ...        ...         ...            ...
3689    WY    WYOMING 2017-01-01       50389             35
3690    WY    WYOMING 2018-01-01       37391             34
3691    WY    WYOMING 2019-01-01       45287             30
3692    WY    WYOMING 2020-01-01       25200             31
3693    WY    WYOMING 2021-01-01        1265             27

[3694 rows x 5 columns]

In [16]:
conn.close()

In [17]:
df.dtypes

state                    object
state_name               object
yr               datetime64[ns]
prep_total                int64
station_count             int64
dtype: object

In [21]:
df.shape

(3694, 5)

In [20]:
df.to_csv('../data/out/extract_staging/stg_prep_by_year_state.csv', index=False)